{{- with .Params.series }}
{{- $seriesName := index . 0 }}
{{- $seriesTerm := $.Site.Taxonomies.series.Get ($seriesName | urlize) }}
{{- if $seriesTerm }}
{{- $posts := $seriesTerm.Pages.ByDate }}
{{- $pos := 0 }}
{{- range $i, $p := $posts }}
  {{- if eq $p.Permalink $.Permalink }}{{- $pos = add $i 1 }}{{- end }}
{{- end }}
{{- $total := len $posts }}
<div class="series-nav-box">
  <div class="series-nav-label">Part {{ $pos }} of {{ $total }} in</div>
  <div class="series-nav-title">
    <a href="{{ "/series/" | absURL }}{{ $seriesName | urlize }}/">{{ $seriesName }}</a>
  </div>
  <ol class="series-nav-list">
    {{- range $i, $p := $posts }}
    <li class="series-nav-item{{ if eq $p.Permalink $.Permalink }} active{{ end }}">
      <span class="series-nav-num">{{ add $i 1 }}</span>
      {{- if eq $p.Permalink $.Permalink }}
      <span class="series-nav-current">{{ $p.Title }}</span>
      {{- else }}
      <a href="{{ $p.Permalink }}" class="series-nav-link">{{ $p.Title }}</a>
      {{- end }}
    </li>
    {{- end }}
  </ol>
  {{/* Prev/Next navigation within the series */}}
  <div class="series-nav-arrows">
    {{- $prevPage := false }}
    {{- $nextPage := false }}
    {{- range $i, $p := $posts }}
      {{- if eq (add $i 1) $pos }}
        {{- if gt $i 0 }}
          {{- $prevPage = index $posts (sub $i 1) }}
        {{- end }}
        {{- if lt (add $i 1) $total }}
          {{- $nextPage = index $posts (add $i 1) }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{- if $prevPage }}
    <a href="{{ $prevPage.Permalink }}" class="series-arrow series-arrow-prev">← {{ $prevPage.Title }}</a>
    {{- end }}
    {{- if $nextPage }}
    <a href="{{ $nextPage.Permalink }}" class="series-arrow series-arrow-next">{{ $nextPage.Title }} →</a>
    {{- end }}
  </div>
</div>
{{- end }}
{{- end }}
